@model CartVM
@{
    decimal subtotal = 0;
}

<!-- Breadcrumb Start -->
<div class="container-fluid">
    <div class="row px-xl-5">
        <div class="col-12">
            <nav class="breadcrumb bg-light mb-30">
                <a class="breadcrumb-item text-dark" asp-controller="home" asp-action="index">Home</a>
                <a class="breadcrumb-item text-dark" asp-controller="shop" asp-action="index">Shop</a>
                <span class="breadcrumb-item active">Shopping Cart</span>
            </nav>
        </div>
    </div>
</div>
<!-- Breadcrumb End -->
<!-- Cart Start -->
<div class="container-fluid">
    <div class="row px-xl-5">
        <div class="col-lg-8 table-responsive mb-5">
            <table class="table table-light table-borderless table-hover text-center mb-0">
                <thead class="thead-dark">
                    <tr>
                        <th>Product</th>
                        <th>Price</th>
                        <th>Quantity</th>
                        <th>Subtotal</th>
                        <th>Remove</th>
                    </tr>
                </thead>
                <tbody class="custom-table align-middle">
                    @foreach (BasketItemVM item in Model.BasketItems)
                    {
                        subtotal += item.Subtotal;
                        <tr>
                            <td class="align-middle">
                                <img src="~/uploads/product/main/@item.ImageUrl" alt="" style="width: 50px;height:50px;margin-right:10px;">
                                @item.Name
                            </td>
                            <td class="align-middle">$@item.Price</td>
                            <td class="align-middle">
                                <div class="input-group quantity mx-auto" style="width: 100px;">
                                    <div class="input-group-btn">
                                        <a asp-controller="cart" asp-action="remove" asp-route-id="@item.Id" asp-route-all="@false" class="btn btn-sm btn-primary btn-minus">
                                            <i class="fa fa-minus"></i>
                                        </a>
                                    </div>
                                    <input type="text" class="form-control form-control-sm bg-secondary border-0 text-center" value="@item.Count">
                                    <div class="input-group-btn">
                                        <a asp-controller="cart" asp-action="add" asp-route-id="@item.Id" id="cust-add-btn" class="btn btn-sm btn-primary btn-plus">
                                            <i class="fa fa-plus"></i>
                                        </a>
                                    </div>
                                </div>
                            </td>
                            <td class="align-middle">$@item.Subtotal</td>
                            <td class="align-middle"><a class="btn btn-sm btn-danger" asp-controller="cart" asp-action="remove" asp-route-id="@item.Id"><i class="fa fa-times"></i></a></td>
                        </tr>
                    }

                </tbody>
            </table>
        </div>
        <div class="col-lg-4">
            <form class="mb-30" action="">
                <div class="input-group">
                    <input type="text" class="form-control border-0 p-4" placeholder="Coupon Code">
                    <div class="input-group-append">
                        <button class="btn btn-primary">Apply Coupon</button>
                    </div>
                </div>
            </form>
            <h5 class="section-title position-relative text-uppercase mb-3"><span class="bg-secondary pr-3">Cart Summary</span></h5>
            <div class="bg-light p-30 mb-5">
                <div class="border-bottom pb-2">
                    <div class="d-flex justify-content-between mb-3">
                        <h6>Subtotal</h6>
                        <h6>$@subtotal</h6>
                    </div>
                </div>
                <div class="pt-2">
                    <div class="d-flex justify-content-between mt-2">
                        <h5>Total</h5>
                        <h5>$@subtotal</h5>
                    </div>
                    <a class="btn btn-block btn-primary font-weight-bold my-3 py-3" asp-controller="checkout" asp-action="index">Proceed To Checkout</a>
                </div>
            </div>
        </div>
    </div>
</div>
<!-- Cart End -->
@* <script>
    const btns = document.querySelectorAll("#cust-add-btn")
    const renderDiv = document.querySelector(".custom-table")
    btns.forEach(btn => {
        btn.addEventListener("click", (e) => {
            e.preventDefault();
            const endpoint = btn.getAttribute("href");
            fetch(endpoint)
                .then(res => res.text())
                .then(data => {
                    renderDiv.innerHTML = data
                })
        })
    })
</script> *@